services:
    _defaults:
        public: true
        autowire: true
        
    Kematjaya\WilayahBundle\Repository\KabupatenRepository: ~
    Kematjaya\WilayahBundle\Repository\KecamatanRepository: ~
    Kematjaya\WilayahBundle\Repository\ProvinsiRepository: ~
    Kematjaya\WilayahBundle\Repository\KelurahanRepository: ~
    Kematjaya\WilayahBundle\Repository\DesaRepository: ~
    Kematjaya\WilayahBundle\Fixtures\WilayahFixtures:
        class: Kematjaya\WilayahBundle\Fixtures\WilayahFixtures
        tags: 
            - doctrine.fixture.orm
            
    Kematjaya\WilayahBundle\Fixtures\KelurahanFixtures:
        class: Kematjaya\WilayahBundle\Fixtures\KelurahanFixtures
        tags: 
            - doctrine.fixture.orm