services:
    _defaults:
        public: true
        autowire: true
        
    Kematjaya\WilayahBundle\Repository\KabupatenRepository: ~
    Kematjaya\WilayahBundle\Repository\KecamatanRepository: ~
    Kematjaya\WilayahBundle\Repository\ProvinsiRepository: ~
    Kematjaya\WilayahBundle\Fixtures\WilayahFixtures:
        class: Kematjaya\WilayahBundle\Fixtures\WilayahFixtures
        tags: 
            - doctrine.fixture.orm