services:
    _defaults:
        public: true
        autowire: true
        
    Kematjaya\WilayahBundle\Repository\KabupatenRepository:
        class: Kematjaya\WilayahBundle\Repository\KabupatenRepository
        tags: 
            - doctrine.repository_service
    Kematjaya\WilayahBundle\Repository\KecamatanRepository:
        class: Kematjaya\WilayahBundle\Repository\KecamatanRepository
        tags: 
            - doctrine.repository_service
    Kematjaya\WilayahBundle\Repository\ProvinsiRepository:
        class: Kematjaya\WilayahBundle\Repository\ProvinsiRepository
        tags: 
            - doctrine.repository_service
#    Kematjaya\WilayahBundle\Repository\KelurahanRepository:
#        class: Kematjaya\WilayahBundle\Repository\KelurahanRepository
#        tags: 
#            - doctrine.repository_service
    Kematjaya\WilayahBundle\Repository\DesaRepository:
        class: Kematjaya\WilayahBundle\Repository\DesaRepository
        tags: 
            - doctrine.repository_service
    Kematjaya\WilayahBundle\Fixtures\WilayahFixtures:
        class: Kematjaya\WilayahBundle\Fixtures\WilayahFixtures
        tags: 
            - doctrine.fixture.orm
            
    Kematjaya\WilayahBundle\Fixtures\KelurahanFixtures:
        class: Kematjaya\WilayahBundle\Fixtures\KelurahanFixtures
        tags: 
            - doctrine.fixture.orm
            
    Kematjaya\WilayahBundle\Fixtures\DesaFixtures:
        class: Kematjaya\WilayahBundle\Fixtures\DesaFixtures
        tags: 
            - doctrine.fixture.orm
            
    Kematjaya\WilayahBundle\SourceReader\DistrictSourceReaderInterface:
        class: Kematjaya\WilayahBundle\SourceReader\DistrictSourceReader
        
    Kematjaya\WilayahBundle\SourceReader\RegionSourceReaderInterface:
        class: Kematjaya\WilayahBundle\SourceReader\RegionSourceReader
        
    Kematjaya\WilayahBundle\SourceReader\ProvinceSourceReaderInterface:
        class: Kematjaya\WilayahBundle\SourceReader\ProvinceSourceReader
        
    Kematjaya\WilayahBundle\SourceReader\VillageSourceReaderInterface:
        class: Kematjaya\WilayahBundle\SourceReader\VillageSourceReader
        
    Kematjaya\WilayahBundle\SourceReader\KelurahanSourceReaderInterface:
        class: Kematjaya\WilayahBundle\SourceReader\KelurahanSourceReader